* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 15px;
  font-family: helvetica, sans-serif;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  --green: rgb(67, 212, 140);
  --gray: rgb(240, 240, 240);
}

#nav {
  background-color: var(--green);
  height: 50px;
  display: flex;
  align-items: center;
}

#header {
  color: white;
  padding-left: 20px;
  font-size: 1.5rem;
}

li {
  list-style: none;
}

ul {
  padding-top: 5px;
  padding-bottom: 5px;
}

#sidebar {
  background-color: var(--gray);
  border-right: 1px solid rgb(184, 184, 184);
}

#projects {
  padding-top: 20px;
  padding-left: 20px;
}

#main-content {
  display: grid;
  grid-template-columns: 250px max-content;
  height: 100vh;
}

#todo-items #list-name {
  padding-top: 40px;
  padding-left: 40px;
  font-size: 1.5rem;
}

#projects-sidebar-row {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

button {
  cursor: pointer;
}

#add-projects-button {
  border: none;
  color: red;
  font-size: 1.5rem;
}

#add-projects-button:hover {
  color: rgba(255, 0, 0, 0.5);
  transform: scale(1.5);
}

#add-items-button {
  width: 50px;
  height: 50px;
  font-size: 2em;
  font-weight: bold;
  border-radius: 50%;
  border: none;
  background-color: var(--green);
  color: white;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 40px;
  margin-right: 40px;
}

#add-items-button:hover {
  filter: brightness(1.05);
  transform: scale(1.1);
}
