* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 15px;
  font-family: helvetica, sans-serif;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  --green: rgb(67, 212, 140);
  --gray: rgb(240, 240, 240);
}

#nav {
  background-color: var(--green);
  height: 50px;
  display: flex;
  align-items: center;
}

#header {
  color: white;
  padding-left: 20px;
  font-size: 1.5rem;
}

li {
  list-style: none;
}

ul {
  padding-top: 5px;
  padding-bottom: 5px;
}

#sidebar {
  background-color: var(--gray);
  border-right: 1px solid rgb(184, 184, 184);
}

#projects {
  padding-top: 20px;
  padding-left: 20px;
}

#main-content {
  display: grid;
  grid-template-columns: 250px max-content;
  height: 100vh;
}

#todo-items #list-name {
  padding-top: 40px;
  padding-left: 40px;
  font-size: 1.5rem;
}

#projects-sidebar-row {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

button {
  cursor: pointer;
}

#add-project-button {
  border: none;
  color: red;
  font-size: 1.5rem;
}

#add-project-button:hover {
  color: rgba(255, 0, 0, 0.5);
  transform: scale(1.5);
}

#add-task-button {
  width: 40px;
  height: 40px;
  font-size: 2em;
  font-weight: bold;
  border-radius: 50%;
  border: none;
  background-color: var(--green);
  color: white;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 60px;
  margin-right: 60px;
}

#add-task-button:hover {
  filter: brightness(1.1);
  transform: scale(1.1);
}

#todo-items #new-task {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  outline: 0;
  border-radius: 15px;
  width: 50%;
  height: 25%;
}

.modal-header {
  background-color: var(--green);
  color: white;
  padding: 10px;
  font-weight: 300;
}

#todo-items #new-task .formclass {
  padding-left: 45px;
  padding-right: 45px;
  display: grid;
  gap: 10px;
}

.formclass input:not(#due-date),
.formclass textarea {
  border-width: 0 0 1px;
  font-family: Roboto, sans-serif;
  padding: 5px;
  font-size: 1rem;
}

.formclass #due-date {
  border: none;
  width: 250px;
}

.formclass textarea {
  resize: none;
}

#new-task .formclass label {
  width: 120px;
}

.formclass select {
  background-color: var(--gray);
  border: none;
  width: 250px;
}

.formclass {
  display: flex;
  gap: 5px;
}

.formclass input[type='date'] {
  box-sizing: border-box;
  background-color: var(--gray);
}

.formclass #saveBtn {
  background-color: var(--green);
}

.formclass #cancelBtn {
  background-color: darkgray;
}

#new-task .formclass button {
  margin-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.formclass button {
  color: white;
  border: none;
  border-radius: 15px;
  font-weight: bold;
}

.formclass button:hover {
  filter: brightness(1.1);
}

.form-buttons,
#new-task .formclass div {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 10px;
}

#new-project {
  width: 250px;
  border: none;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  outline: 0;
  border-radius: 15px;
  position: absolute;
  top: 150px;
  left: 250px;
}

#new-project .formclass {
  display: grid;
  justify-content: center;
  align-items: center;
}

#new-project button {
  padding: 5px 20px 5px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}
